USE [master]
GO
/****** Object:  Database [BookStore]    Script Date: 7/8/2021 1:59:37 PM ******/
CREATE DATABASE [BookStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BookStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\BookStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BookStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\BookStore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookStore]
GO
USE [BookStore]
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 7/8/2021 1:59:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[ID] [varchar](255) NOT NULL,
	[TITLE] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ORDER_STATUS]    Script Date: 7/8/2021 1:59:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_STATUS](
	[ID] [varchar](255) NOT NULL,
	[TYPE] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ORDERDETAIL]    Script Date: 7/8/2021 1:59:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERDETAIL](
	[ID] [varchar](255) NOT NULL,
	[ORDERID] [varchar](255) NULL,
	[PRODUCTID] [varchar](255) NULL,
	[QUANTITY] [int] NULL,
	[TOTAL_PRICE] [float] NULL,
	[STATUS] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ORDERS]    Script Date: 7/8/2021 1:59:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERS](
	[ID] [varchar](255) NOT NULL,
	[USEREMAIL] [varchar](255) NULL,
	[ADDRESS] [varchar](255) NULL,
	[PHONE] [varchar](100) NULL,
	[TOTAL_PRICE] [float] NULL,
	[ORDER_DATE] [date] NULL,
	[PAYMENT_STATUS] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 7/8/2021 1:59:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[ID] [varchar](255) NOT NULL,
	[NAME] [varchar](255) NULL,
	[DESCRIPTION] [varchar](255) NULL,
	[CATEGORY] [varchar](255) NULL,
	[PRICE] [float] NULL,
	[QUANTITY] [int] NULL,
	[LAST_UPDATE] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USERROLE]    Script Date: 7/8/2021 1:59:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERROLE](
	[ID] [varchar](255) NOT NULL,
	[TYPE] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USERS]    Script Date: 7/8/2021 1:59:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[EMAIL] [varchar](255) NOT NULL,
	[ISVERIFIED] [bit] NOT NULL,
	[SIGNINMETHOD] [varchar](150) NOT NULL,
	[FULLNAME] [varchar](255) NOT NULL,
	[PASSWORD] [varchar](255) NULL,
	[PHONENUMBER] [varchar](100) NOT NULL,
	[ADDRESS] [varchar](255) NOT NULL,
	[ROLEID] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[CATEGORY] ([ID], [TITLE]) VALUES (N'C01', N'HISTORY')
INSERT [dbo].[CATEGORY] ([ID], [TITLE]) VALUES (N'C02', N'CHILDREN')
INSERT [dbo].[CATEGORY] ([ID], [TITLE]) VALUES (N'C03', N'OTHERS')
INSERT [dbo].[ORDER_STATUS] ([ID], [TYPE]) VALUES (N'1', N'PENDING')
INSERT [dbo].[ORDER_STATUS] ([ID], [TYPE]) VALUES (N'2', N'FAILED')
INSERT [dbo].[ORDER_STATUS] ([ID], [TYPE]) VALUES (N'3', N'SUCCESS')
INSERT [dbo].[ORDERDETAIL] ([ID], [ORDERID], [PRODUCTID], [QUANTITY], [TOTAL_PRICE], [STATUS]) VALUES (N'80a5b32f-34f5-47bb-b05a-56ea2fd79293', N'1f4f5b5b-a525-4912-9393-c976d577adfa', N'23A9182DA', 3, 71.97, N'1')
INSERT [dbo].[ORDERS] ([ID], [USEREMAIL], [ADDRESS], [PHONE], [TOTAL_PRICE], [ORDER_DATE], [PAYMENT_STATUS]) VALUES (N'12312', N'tamnhup@gmail.com', N'QuangNgai', N'0123456789', 2321.23, CAST(N'2021-02-12' AS Date), 1)
INSERT [dbo].[ORDERS] ([ID], [USEREMAIL], [ADDRESS], [PHONE], [TOTAL_PRICE], [ORDER_DATE], [PAYMENT_STATUS]) VALUES (N'1f4f5b5b-a525-4912-9393-c976d577adfa', N'nhultse150213@fpt.edu.vn', N'Ho Chi Minh', N'0901951452', 71.97, CAST(N'2021-07-06' AS Date), 1)
INSERT [dbo].[PRODUCT] ([ID], [NAME], [DESCRIPTION], [CATEGORY], [PRICE], [QUANTITY], [LAST_UPDATE]) VALUES (N'B01', N'HARRY POTTER', N'Fantastic Beasts and Where to find them', N'C02', 23.99, 120, CAST(N'2020-12-12' AS Date))
INSERT [dbo].[PRODUCT] ([ID], [NAME], [DESCRIPTION], [CATEGORY], [PRICE], [QUANTITY], [LAST_UPDATE]) VALUES (N'B02', N'IN PRAISE OF SHADOW', N'An essay on Japanese aesthetics', N'C03', 13.99, 10, CAST(N'2018-10-03' AS Date))
INSERT [dbo].[PRODUCT] ([ID], [NAME], [DESCRIPTION], [CATEGORY], [PRICE], [QUANTITY], [LAST_UPDATE]) VALUES (N'B03', N'CARDS ON THE TABLE', N'A detective story of Agatha Christie', N'C03', 199.99, 120, CAST(N'2021-01-09' AS Date))
INSERT [dbo].[USERROLE] ([ID], [TYPE]) VALUES (N'1', N'ADMIN')
INSERT [dbo].[USERROLE] ([ID], [TYPE]) VALUES (N'2', N'USER')
INSERT [dbo].[USERS] ([EMAIL], [ISVERIFIED], [SIGNINMETHOD], [FULLNAME], [PASSWORD], [PHONENUMBER], [ADDRESS], [ROLEID]) VALUES (N'nhu123@123.com', 0, N'BUILTIN', N'123', N'123123', N'0123456789', N'123', N'2')
INSERT [dbo].[USERS] ([EMAIL], [ISVERIFIED], [SIGNINMETHOD], [FULLNAME], [PASSWORD], [PHONENUMBER], [ADDRESS], [ROLEID]) VALUES (N'tamnhulam@gmail.com', 1, N'BUILTIN', N'Lam Tam Nhu', N'nhu123', N'0901951452', N'129/32, Quang Ngai', N'1')
INSERT [dbo].[USERS] ([EMAIL], [ISVERIFIED], [SIGNINMETHOD], [FULLNAME], [PASSWORD], [PHONENUMBER], [ADDRESS], [ROLEID]) VALUES (N'nhultse150213@fpt.edu.vn', 1, N'GOOGLE_SIGNIN', N'Nhu Lam', NULL, N'0901952454', N'922, Le Van Viet, HCM', N'2')
ALTER TABLE [dbo].[ORDERDETAIL]  WITH CHECK ADD FOREIGN KEY([PRODUCTID])
REFERENCES [dbo].[PRODUCT] ([ID])
GO
ALTER TABLE [dbo].[ORDERDETAIL]  WITH CHECK ADD FOREIGN KEY([STATUS])
REFERENCES [dbo].[ORDER_STATUS] ([ID])
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [ORDER_USERS] FOREIGN KEY([USEREMAIL])
REFERENCES [dbo].[USERS] ([EMAIL])
GO
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [ORDER_USERS]
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD FOREIGN KEY([CATEGORY])
REFERENCES [dbo].[CATEGORY] ([ID])
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD FOREIGN KEY([ROLEID])
REFERENCES [dbo].[USERROLE] ([ID])
GO
USE [master]
GO
